#button1{
    font-family: 'Roboto';
    background: linear-gradient(to right,#0162c8,thistle);
    color:darkmagenta;
    font-size: large;
    text-align: right;
    margin-left:30px;
    position: relative;
    top: -40px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.1s;
    filter:sepia(20%);
}
#button1:hover::before{
    animation: sun 8s infinite;

}


#button1:hover{
    animation: sun 8s infinite;
    color: darkturquoise;
    transition-delay:1s;
    background:firebrick ;
    box-shadow: 0 0 5px firebrick
                    0 0 10px firebrick
                    0 0 25px firebrick
                    0 0 50px firebrick;
}