

body{
	background:black;
	font-family: arial;
	color: white;

}
html{
	scroll-behavior: smooth;

}
.web_title{
	font-family: Times New Roman;
	font-style: italic	;
		padding-top	: 	170px;
}
#About_header{
	padding-top: 130px;
}
h1{
	font-size: 4rem;
	color: ghostwhite;
	
}

h2{
	padding: 	30px;
	margin: 	20px;
	font-size: 34px;
	color: white;
}
#Home{
	padding: 40px;
	
}
#About_p{
	text-align: 	left	;
	
	margin: 80px;
}

h3{
	
	font-size:21px;
	color: white	;
	padding: 	30px;

}
#resume_header{
	padding-top: 200px;
}
#education_p1{
	padding: 	30px;
}

#education_p2{
	padding: 	30px;
	color: dimgrey;
	font-style: italic;
}
	h4{
		padding: 	30px;
	font-size: 34px;
	color: ghostwhite;
}
h5{
	padding: 	30px;
    font-size: 1rem;
	color: white;
}
#Languages_p1{
	display: 	inline-block	;
	margin: 40px;
}
h6{
	font-size: 	1rem;
	padding: 30px;
	color: white	;
}
#Languages_p2{
		display: 	inline-block	;
		padding: 40px;
		margin:40px;
}
#contacts_body{
	background-color: white	;
}
p{
	padding: 30px;
	color: white;
}
ul{color: white;
}

header{
	background-color: #ff8177;
	background-image: linear-gradient(to top,#ff0844 0%,#ff5733 100%);
}

header::after{
		content	: "";
		display: table;
		clear: both;
}
#code1{
	padding: 	30px;
	color: red;
	text-decoration: none;
	list-style: none;
}
#code2{
	padding: 	30px;
		color: red;
		font-family: Times New Romans;
		list-style: none;
		text-decoration: none;

}
.container{
	width: 100%;
	height: 100%;
	overflow-y: scroll	;
	scroll-behavior: smooth	;
}
.navbar{
	top: 0;
	width: 100%;
	z-index: 	1;
	border-radius: 5px;
	background-color: #ff8177;
	background-image: linear-gradient(to top,#ff0844 0%,#ff5733 100%);
	position: 	fixed	;
	float: none;
	text-align: 	center	;

}
#github_image{
	
		background: white;
		padding-right: 150px;
		
}
#github_image_li{
	display: inline-block;
}
#linkedin_image_li{
	display: inline-block;

}
#linkedin_image{
	
	background-color: white;
	height: 60px;
	width: 70px;

}
nav::after{
	content	: "";
		display: table;
		clear: both;
}
nav a{
	border: none;
	border-radius: 	4;
	font-size: 1rem;
	text-decoration: none;
	text-transform: uppercase;

}
nav a:hover{
	color: white;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
nav li {
	display: inline-block;

	padding: 11px;
	margin: 20px;
}