

body{
	background:rgb(1, 0, 3);
	font-family:Arial, Helvetica, sans-serif;
	color: white;
	margin: 0;

}
html{
	scroll-behavior: smooth;

}
.web_title{
	font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-style: italic	;
		padding-top	: 	110px;
	text-align: center;
}
#About_header{
	padding-top: 130px;
}
h1{
	font-size: 5rem;
	color: ghostwhite;
	
}

h2{
	font-family:Arial, Helvetica, sans-serif;
	padding: 	30px;
	margin: 	20px;
	font-size: 34px;
	color: white;
}
#Home{
	padding: 40px;
	
}
#About_p{
	text-align: 	left	;
	
	margin: 80px;
}

h3{
	
	font-size:21px;
	color: white	;
	padding: 	30px;

}
#resume_header{
	padding-top: 200px;
}
#education_p1{
	padding: 	30px;
}

#education_p2{
	padding: 	30px;
	color: dimgrey;
	font-style: italic;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
	h4{
		padding: 	30px;
	font-size: 34px;
	color: ghostwhite;
}
h5{
	padding: 	30px;
    font-size: 1rem;
	color: white;
}
#Languages_p1{
	display: 	inline-block	;
	margin: 40px;
}

#Languages_p2{
		display: 	inline-block	;
		padding: 40px;
		margin:40px;
}
#contacts_body{
	background-color: white	;
	width: 100%;
	margin-bottom: -8px;
}
p{
	padding: 30px;
	color: white;
}
ul{color: white;
}

header{
	background-color: #ff8177;
	background-image: linear-gradient(to top,#ff0844 0%,#ff5733 100%);
}

header::after{
		content	: "";
		display: table;
		clear: both;
}
.container{
	width: 100%;
	height: 100%;
	overflow-y: scroll	;
	scroll-behavior: smooth	;
}
.navbar{
	top: 0;
	width: 100%;
	z-index: 	1;
	border-radius: 5px;
	background-color: #ff8177;
	background-image: linear-gradient(to top,#ff0844 0%,#ff5733 100%);
	position: 	fixed	;
	float: none;
	text-align: center;

}
#github_image{
	
		background: white;
		padding-right: 150px;
		margin-left: 60px;
}
#github_image_li{
	display: inline-block;
}
#linkedin_image_li{
	display: inline-block;

}
#linkedin_image{
	position: relative;
	background-color: white;
	height: 60px;
	width: 70px;

}
nav::after{
	content	: "";
	display: table;
	clear: both;
}
nav a{
	border: none;
	border-radius: 	4;
	font-size: 1.3rem;
	text-decoration: none;
	text-align: center;

	text-transform: uppercase;
	float: none;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}
nav a:hover{
	color: white;
}
nav ul {
	width: 100%;
	margin: 0px;
	padding: 0;
	list-style: none;
}
nav li {
	display: inline-block;
	list-style: none;
	padding: 13px;
	margin: 10px;
}